<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/regular.css" integrity="sha384-hCIN6p9+1T+YkCd3wWjB5yufpReULIPQ21XA/ncf3oZ631q2HEhdC7JgKqbk//4+" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/brands.css" integrity="sha384-i2PyM6FMpVnxjRPi0KW/xIS7hkeSznkllv+Hx/MtYDaHA5VcF0yL3KVlvzp8bWjQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css" integrity="sha384-sri+NftO+0hcisDKgr287Y/1LVnInHJ1l+XC7+FOabmTTIK0HnE2ID+xxvJ21c5J" crossorigin="anonymous">

    {% if page.type != "home" %}
      <title>{{ page.title }} - Avukat Efkan Bolaç</title>
    {% else %}
      <title>Avukat Efkan Bolaç</title>
    {% endif %}
    <style>
    .bg-red2 { background-color: #5fb442; }
    p { font-size: 1.05rem; line-height: 32px; }
    #bgg {
      background-color: #5fb442;
    }
    #bggg {
      height: 400px;
      background-position-y: top;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x:right;
      background-image: url('../dosya/efkan-bolac.jpg');
    }
    </style>
  </head>
  <body class="bg-light">

    <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-red2 ">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto font-weight-bold">
          <li class="nav-item"><a class="nav-link text-white" href="/">Efkan Bolaç</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="/yazilar">Yazılar</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="/basindan">Basından</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="/galeri">Galeri</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="/#amac">Amaç</a></li>
          {% if page.type == "home" %}
          {% endif %}
          <li class="nav-item"><a class="nav-link text-white" href="/#iletisim">İletişim</a></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid text-white" id="bgg">
      <div class="container">
        
        <div id="bggg" class="py-3 row">
          <div class="col-lg-12 col-md-9 col-6">
            <p class="display-4 d-none d-sm-block py-lg-5 py-sm-1">sokakların sesi olmak için...</p>
            <p class="d-block d-sm-none h3 py-5 font-weight-normal">sokakların sesi olmak için...</p>
            <p class="h3 pt-md-3 font-weight-normal">EFKAN BOLAÇ</p>
            <p class="h3 pb-md-3 font-italic">Avukat</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container pt-5" id="amac">
      <h2 class="text-center">{{ page.title }}</h2>
      <p class="lead text-center">{{ page.subtitle }}</p>
      <div class="row">
        <div class="col-lg-8 col-md-9 col-sm-12">
          <div class="card text-black-50 shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
              {{ content }}
            </div>
          </div>
        </div>
        <div class=" col-lg-4 col-md-3 col-sm-12 d-flex align-items-stretch">
          <a data-height="800" class="twitter-timeline" href="https://twitter.com/efkanbolac?ref_src=twsrc%5Etfw">Tweets by efkanbolac</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>        <!-- <a class="twitter-timeline" data-height="500" href="https://twitter.com/efkanbolac?ref_src=twsrc%5Etfw">Tweets by efkanbolac</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

    </div>

    <div class="container-fluid bg-dark text-white text-center py-5">
      <h1>EFKAN BOLAÇ - Avukat</h1>

      <a id="iletisim"></a>

      <a class="h3 d-block text-white" href="tel:+905323716445">+90 532 371 64 45<a>
      <a class="h3 d-block text-white" href="mailto:efkanb@yahoo.com">efkanb@yahoo.com<a>

      <div class="py-5 h1">
        <a href="https://www.twitter.com/efkanbolac" class="text-white px-2 fab fa-twitter"></a>
        <a href="https://www.facebook.com/efkanb" class="text-white px-2 fab fa-facebook-f"></a>
        <a href="mailto:efkanb@yahoo.com" class="text-white px-2 far fa-envelope"></a>
      </div>
    </div>

    <footer class="text-center bg-dark text-white pb-5">
        © Efkan Bolaç. Tüm Hakkı Saklıdır.
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
